<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/footer.css}">

<!--<footer class="container" th:fragment="footer">-->
<!--    <footer class="my-5 text-muted text-center text-small">-->
<!--        <p class="mb-1">© 2021遇见</p>-->
<!--    </footer>-->
<!--</footer>-->


<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">网站相关</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">关于我们</a>
                    </li>
                    <li>
                        <a href="#!">服务条款</a>
                    </li>
                    <li>
                        <a href="#!">帮助中心</a>
                    </li>
                    <li>
                        <a href="#!">编辑器语法</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">常用链接</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">百度</a>
                    </li>
                    <li>
                        <a href="#!">谷歌</a>
                    </li>
                    <li>
                        <a href="#!">Youtube</a>
                    </li>
                    <li>
                        <a href="#!">CSDN</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">联系我们</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">联系我们</a>
                    </li>
                    <li>
                        <a href="#!">加入我们</a>
                    </li>
                    <li>
                        <a href="#!">建议反馈</a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">关注我们</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">微博</a>
                    </li>
                    <li>
                        <a href="#!">twitter</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</html>